<h1>SpaceX Mission Launch List</h1>

<div *ngFor="let launch of launches | async">
  <mat-card class="spacex-card">
    <mat-card-header>
      <img mat-card-avatar src="{{launch.links.mission_patch_small}}" [routerLink]="['/missionlist', launch.flight_number]">
      <mat-card-title>{{launch.mission_name}}</mat-card-title>
      <mat-card-subtitle>Lanuch year: {{launch.launch_year}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{launch.details}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/missionlist', launch.flight_number]">Details</button>
    </mat-card-actions>
  </mat-card>
</div>



